/superr_*
/tools/img2sdat/*.pyc
/tools/boot/*.zip
/tools/inject-sepolicy/
/tools/open_bump.py
/tools/root/bloat_custom
/tools/root/root_zips/*
!/tools/root/root_zips/placeholder
/tools/root/busybox/*
!/tools/root/busybox/placeholder
/tools/smali
/tools/*srk-chosen
/tools/language/*
!/tools/language/english-srk
/tools/linux_tools
/tools/cyg_tools
/tools/boot/AIK
/tools/boot/AIK2
/tools/bituser
/tools/cygnotice
/tools/depmet
/tools/dependencies2
/tools/heapsize
/tools/updatecheck*
/tools/plugins/*
!/tools/plugins/example
/tools/devices/*
!/tools/devices/a5xelte
!/tools/devices/ada
!/tools/devices/angler
!/tools/devices/Aquaris_E5_HD
!/tools/devices/bullhead
!/tools/devices/C6603
!/tools/devices/C6730
!/tools/devices/cm_osprey
!/tools/devices/cprimeltemtr
!/tools/devices/D6503
!/tools/devices/falcon_cdma
!/tools/devices/flounder
!/tools/devices/grandprimevelte
!/tools/devices/gts28vewifi
!/tools/devices/gts210vewifi
!/tools/devices/hammerhead
!/tools/devices/hero2qltevzw
!/tools/devices/herolte
!/tools/devices/hi6210sft
!/tools/devices/htc_a51dtul
!/tools/devices/htc_hiaeuhl
!/tools/devices/htc_hiaeul
!/tools/devices/htc_hiaewhl
!/tools/devices/htc_m8
!/tools/devices/htc_pmewl
!/tools/devices/HWGemini
!/tools/devices/hwRIO-L01
!/tools/devices/i15-TCL
!/tools/devices/ido
!/tools/devices/j5xnlte
!/tools/devices/j7ltespr
!/tools/devices/k3g
!/tools/devices/klte
!/tools/devices/klteusc
!/tools/devices/le_x2
!/tools/devices/Lion-5
!/tools/devices/msm8916_32
!/tools/devices/noblelte
!/tools/devices/nobleltetmo
!/tools/devices/odroidxu3
!/tools/devices/OnePlus
!/tools/devices/OnePlus2
!/tools/devices/OnePlus3
!/tools/devices/osprey_uds
!/tools/devices/p1
!/tools/devices/P175A20
!/tools/devices/Pixi2-7_4G_TMO
!/tools/devices/pplus
!/tools/devices/Q5
!/tools/devices/rainbow
!/tools/devices/S3
!/tools/devices/sailfish
!/tools/devices/shamu
!/tools/devices/speed
!/tools/devices/sumire_dsds
!/tools/devices/surnia_cdma
!/tools/devices/tblte
!/tools/devices/tre3g
!/tools/devices/trelte
!/tools/devices/trlte
!/tools/devices/w3c
!/tools/devices/w5c
!/tools/devices/warp2
!/tools/devices/warp4
!/tools/devices/warplte
!/tools/devices/X557
!/tools/devices/z2_row
!/tools/devices/zeroflteusc
!/tools/devices/zerolte
